<p> You are at <%= @origin_station %> on the <%= @origin_line %> line </p>
<p> And you want to go to <%= @destination_station %> on the <%= @destination_line %> line 
</p>
<p> You need to travel <%= @answer %> stops </p>


<h2>Calculate another route: </h2>