<h2>Here is your book</h2>
<p><%= @book.title %></p>
<p><img src="<%= @book.cover %>"></p>
<p><a href="/books/<%= @book.id %>/edit">Edit</a> | <a href="/books/<%= @book.id %>/delete">Delete</a></p>
<h3>Here are the authors</h3>
<ul>
  <% @authors.each do |author| %>
    <li><a href="/authors/<%= author.id %>"><%= author.name %></a></li>
  <% end %>
</ul>