
<div id="movies">

  <%= @movie["Title"] %>
  <%= @movie["Year"] %>
  <%= @movie["Director"] %>
  <%= @movie["Writer"] %>
  <%= @movie["Title"] %>
  <%= @movie["Title"] %>
  <%= @movie["Title"] %>
  <%= @movie["Title"] %>
  
  <img src=<%=@movie["Poster"]%> />


</div>
