<section class="blog">
  <h2><%= @blog.title %></h2>
  <h3>mood: <%= @blog.mood %></h3>
  <h4>written by <%= @blog.author %> using <%= @blog.current_plaything %></h4>
  <p><%= @blog.copy %></p>
  <img src="<%= @blog.image %>">
  



  <aside class="controls">
    <a href="/post/<%= @blog.id %>/edit">Edit</a>
    |
    <a href="/post/<%= @blog.id %>/delete">Delete</a>
  </aside>
</section>