<!DOCTYPE html>
<html>
<head>
  <title>GamesApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">    
    <nav>
        <%= link_to 'Secret Number', '/secret' %>
        <%= link_to 'Rock Paper Scissors', '/rps' %>
        <%= link_to 'Magic Eight Ball', '/ball' %>
    </nav>
   
<%= yield %>
</div> 
</body>
</html>
