<div class="movie">
  <div class="poster">
    <img src="<%= @movie.poster %>" / >
  </div><div class="details">
    <ul>
      <li><b>Title:</b> <%= @movie.title %></li>
      <li><b>Genre:</b> <%= @movie.genre %></li>
      <li><b>Rating:</b> <%= @movie.imdb_rating %> / 10</li>
      <li><b>Director:</b> <%= @movie.director %></li>
      <li><b>Writer:</b> <%= @movie.writer %></li>
      <li><b>Actors:</b> <%= @movie.actors %></li>
      <li><b>Plot:</b> <%= @movie.plot %></li>
      <li><b>Awards:</b> <%= @movie.awards %></li>
    </ul>
  </div>
</div>