<h2>Editing Author <em><%= @author.first_name %> <%= @author.last_name %></em></h2>
<form action="/authors/update" method="post">
  <input type="hidden" name="id" value="<%= @author.id %>">

  <p>
    <label for="first_name">First Name: </label>
    <input type="text" name="first_name" id="first_name" required value="<%= @author.first_name %>">
  </p>

  <p>
    <label for="last_name">Last Name: </label>
    <input type="text" name="last_name" id="last_name" value="<%= @author.last_name %>">
  </p>

  <p>
    <label for="yob">Year of Birth: </label>
    <input type="text" name="yob" id="yob" value="<%= @author.yob %>">
  </p>

  <button>update author</button>
</form>