<div class="movie">
  <div class="poster">
    <img src="<%= @movie["Poster"] %>" />

  </div><div class="details">

    <ul>
      <li><b>Title:</b> <%= @movie["Title"] %></li>
      <li><b>Genre:</b> <%= @movie["Genre"] %></li>
      <li><b>Rating:</b> <%= @movie["imdbRating"] %> / 10</li>
      <li><b>Director:</b> <%= @movie["Director"] %></li>
      <li><b>Writer:</b> <%= @movie["Writer"] %></li>
      <li><b>Cast:</b> <%= @movie["Actors"] %></li>
      <li><b>Plot:</b> <%= @movie["Plot"] %></li>
      <li><b>Awards:</b> <%= @movie["Awards"] %></li>
    </ul>
  
  </div>
</div> 