

<header>
  <h1>Movie Madness</h1>
  <form action='/movies' method="get"> 
  <input name="movie_name" type="text" placeholder="Enter a movie name">
  <input type="submit" value="Find movie">
  </form>
</header>
<h2><%= @blank_page %> </h2>
<img src="<%= @poster %>">
<div>
  <h2><%= @movie_title %> </h2>
  <p><%= @movie_title %> <%= @released %></p>
  <p><%= @director %></p>
  <p><%= @writer %></p>
  <p><%= @plot_header %></p>
  <p><%= @plot %></p>
</div>

