<h1><%= @author.first_name %> <%= @author.last_name %></h1>
<section class="author">
  <div class="auth">
    <ul>
      <% @author.books.each do |book| %>
        <li>
          <a href="/books/<%= book['id'] %>">
          <%= book['title'] %> 
          </a>
        </li>
      <% end %>
    </ul>
    <img src="<%= @author.photo %>">
  </div>  
    <aside class="controls">
      <a href="/authors/<%= @author.id %>/edit">Edit</a>
      |
      <a href="/authors/<%= @author.id %>/delete">Delete</a>
    </aside>
</section>