<h1>Sinatra MTA Lab</h1>

<form action="/" method="get">
  <p>
    <label for="from_stop">From Stop:</label>
    <select name="from_stop" id="from_stop">
      <% @line_stop.each do |stop| %>
        <option value="<%= stop %>" <%= 'selected' if params[:from_stop] == stop %>><%= stop %></option> 
      <% end %>
    </select>
  </p>
  <p>
    <label for="to_stop">To Stop:</label>
    <select name="to_stop" id="to_stop">
      <% @line_stop.each do |stop| %>
        <option value="<%= stop %>" <%= 'selected' if params[:to_stop] == stop %>><%= stop %></option> 
      <% end %>
    </select>
  </p>
  <button>Submit Trip!</button>
</form>

<% if @distance %>
  <h1><%= @distance %> stops to your destination</h1>
  <h2><%= "You will need to change to #{@to_line} line at Union Station" if @change %></h2>
<% end %>


