<section class="post">
  <h2><%= @post.title %></h2>
  <p>Posts: <%= @post.title %></p>
  <p>Posts: <%= @post.content %></p>
  <aside class="controls">
    <a href="/posts/<%= @post.id %>/edit">Edit</a>
    <a href="/posts/<%= @post.id %>/delete">Delete</a>
  </aside>
</section>
