<!-- <img class="mermaid" src="/assets/mermaid.jpg">
 -->
 <h2>Update Ocean</h2>
<div class="form">
    <form action="<%= ocean_path(@ocean.id) %>" method="post">
      <p>Name: <input type="text" name="ocean[name]" autofocus value="<%= @ocean.name %>"></p>
      <p>Image: <input type="text" name="ocean[image]" value="<%= @ocean.image %>"></p>
      <p>Volume: <input type="text" name="ocean[volume]" value="<%= @ocean.volume %>"></p>
      <p>Bordering Countries: <input type="text" name="ocean[bordering_countries]" value="<%= @ocean.bordering_countries %>"></p>
      <p>Shipping Routes: <input type="text" name="ocean[shipping_routes]" value="<%= @ocean.shipping_routes %>"></p>
      <button id="button">Update!</button>
    </form>
</div>