
<div id="header">
    <h1>Movie Database</h1>
     
            <form action='/movie' method='get'> 
            <input name="title" type="text" placeholder="Movie Title">

            <input type="submit" value="Click Here">
            </form>
   
</div>

<% if @movie %>
    
    <div id="content">
        <h2><%= @movie_title %></h2>
        <img src="<%= @movie_poster %>">
        
        <p>Year: <em><%= @year %></em></p>

        <p>Actors: <em><%= @actors %></em></p>

        <p>Directed by: <em><%= @director %></em></p>
        
            <div id="content-writing">
                <p><%= @movie_plot %></p>
            </div>

    <p>imdb Rating: <em><%= @rating %></em></p>
    <p>imdb Votes: <em><%= @votes %></em></p>
    </div>

    
<% end %>
