
<form action="/search" method="post">
  <p>
    <select name="origin_line" id="origin_line" autofocus required>
      <option value="" disabled>Origin Line</option> 
      <option value="n_line">N Line</option> 
      <option value="l_line">L Line</option>
      <option value="six_line">6 Line</option>
    </select>
  </p>

  <p>
    <select name="origin_station" id="origin_station" autofocus required>
      <option value="" disabled>Origin Station</option>
      <option value="" disabled>N Line : ------------------------</option>
      <% @subway['n_line'].each do |x| %>
        <option value="<%= x %>"><%= x.upcase %></option>
      <% end %>
      <option value="" disabled>L Line : ------------------------</option>
      <% @subway['l_line'].each do |x| %>
        <option value="<%= x %>"><%= x.upcase %></option>
      <% end %>
      <option value="" disabled>6 Line : ------------------------</option>
      <% @subway['six_line'].each do |x| %>
        <option value="<%= x %>"><%= x.upcase %></option>
      <% end %>
    </select>
  </p>

  <p>
    <select name="des_line" id="des_line" required>
      <option value="" disabled>Destination Line</option> 
      <option value="n_line">N Line</option> 
      <option value="l_line">L Line</option>
      <option value="six_line">6 Line</option>
    </select>
  </p>

  <p>
    <select name="des_station" id="des_station" autofocus required>
      <option value="" disabled>Destination Station</option>
      <option value="" disabled>N Line : ------------------------</option>
      <% @subway['n_line'].each do |x| %>
        <option value="<%= x %>"><%= x.upcase %></option>
      <% end %>
      <option value="" disabled>L Line : ------------------------</option>
      <% @subway['l_line'].each do |x| %>
        <option value="<%= x %>"><%= x.upcase %></option>
      <% end %>
      <option value="" disabled>6 Line : ------------------------</option>
      <% @subway['six_line'].each do |x| %>
        <option value="<%= x %>"><%= x.upcase %></option>
      <% end %>
    </select>
  </p>

  <input class="uibutton" type="submit" value="Search!">
</form>